body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

.title-three, .title-three > a {
  color: #aaa;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
  line-height: 5px;
  text-decoration: none;
}


.title-two {
  font-size: 1.4em;
  line-height: 1.2em;
}

.title-two a {
  color: inherit;
  text-decoration: none;
}

strong {
  color: orange;
}

small {
  color: #bbb;
}

.leaflet-popup-content {
  line-height: 1.6;
}

.controls {
  position: absolute;
  z-index: 1000;
  margin: 0;
}

.menu {
  position: absolute;
  bottom: -45px;
  padding-left: 9px;
  padding-bottom: 7px;
  z-index: 1000;
}

.menu-control {
  left: -45px;
}

.attr {
  right: -45px;
  padding-right: 9px;
  padding-bottom: 7px;
}

.menu-button {
  display: block;
  height: 70px;
  width: 70px;
  padding: 4px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #777;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  font-weight: 200;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.leaflet-bar a {
  background-color: #FF5335;
  color: #ffffff;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.leaflet-bar a:hover {
  color: #ffffff;
  background-color: #e82200;
}

.info-link:hover {
  text-decoration: none;
}

.i {
  position: absolute;
  left: 35px;
  top: 16px;
  font-weight: bold;
}

.m {
  position: absolute;
  right: 27px;
  top: 16px;
  font-weight: bold;
}

.attr-container {
  z-index: 1000;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: table;
  text-align: center;
  background: rgba(0,0,0,0.7);
  visibility: hidden;
  color: #f7f7f7;
}

#attr-info {
  font-size: 12px;
  display: table-cell;
  vertical-align: middle;
  padding: 25px;
}

#attr-info > div > a, #attr-info > div > p > a {
  color: #eaeaea;
}

#attr-info > div {
  max-width: 500px;
  text-align: left;
  margin: 0 auto;
}

.unit_info {
  position: absolute;
  z-index: 100000;
  background-color: rgba(255,255,255,0.93);
  color: #333;
  line-height: 23px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.unit-info-header {
  height: 50px;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.98);
}

.macrostrat-info {
  padding-top: 25px;
}

.macrostrat-info > h2 {
  padding-top: 10px;
}

.macrostrat-data > a, .macrostrat-data > h2 > a {
  text-decoration: none;
  color: #ccc;
}

#unit_info_left {
  width: 60%;
  top: 0;
  height: 100%;
  left: -60%;
  max-width: 350px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.84);
}

#unit_info_left.moveLeft {
  left: 0;
}

#unit_info_right {
  width: 60%;
  top: 0;
  height: 100%;
  right: -60%;
  max-width: 500px;
}

.menu-header {
  padding: 20px;
  font-size: 2em;
  display: table;
  font-family: "Maven Pro", sans-serif;
}

.menu-header > img {
  height: 33px;
  display: table-cell;
}

.menu-header > .title {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px;
}

#geology-opacity-slider {
  width: 100%;
  padding: 25px 0;
}

#geology-opacity-slider::-moz-range-thumb {
    padding: 3px;
}
#geology-opacity-slider:active::-moz-range-thumb {
    background: orange;
}

#unit_info_right.moveRight {
  right: 0;
}

#unit_info_bottom {
  width: 100%;
  bottom: -100%;
  height: 100%;
/*  max-height: 500px;*/
}

#unit_info_bottom.moveDown {
  bottom: 0;
}

.unit_info_content {
  padding: 25px;
 /* padding-bottom: 140px; */
  z-index: 0;
  height: 100%;
  margin-top: 15px;
  overflow-y: scroll;
}

.unit_info_content > a {
  color: #aaa;
}

.burwell-source {
  padding-top: 10px;
}

.burwell-info {
  padding-bottom: 30px;
}

.dd-result {
  padding-bottom: 20px;
}


.dd-content {
  padding-bottom: 140px;
}

.dd_content > a {
  color: #aaa;
}

.dd-text {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.65s ease-in-out;
  -moz-transition: max-height 0.65s ease-in-out;
  transition: max-height 0.65s ease-in-out;
}
.auto-height {
  max-height: 500px;
}
.journal {
  padding-bottom: 25px;
}

.journal-title {
  font-weight: bold;
}
.title-link {
  text-decoration: none;
  margin-right: 7px;
}
.dd-article {
  padding-bottom: 15px;
}

.dd-snippet {
  font-size: 11px;
  line-height: 16px;
  padding: 10px;
}

.show-content {
  color: #7FDBFF;
  cursor: pointer;
  margin-left: 7px;
}

.hl {
  background-color: #7FDBFF;
  color: #708090;
  font-style: normal;
  padding: 2px;
}

.menu-content {
  margin-top: 20px;
  padding: 20px;
}

.layer {
  font-size: 20px;
  line-height: 35px;
  border-bottom: 1px solid rgba(245,245,245,0.2);
}

.layer-control {
  float: right;
  padding: 8px;
  cursor: pointer;
}

#opacity-label {
  font-size: 10px;
  margin-top: -43px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.disabled {
  color: #777;
  cursor: not-allowed;
}

.close {
  color: #000;
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  padding: 11px 20px;
  top: 0;
}

.close.left {
  right: 0;
  display: table-cell;
  vertical-align: middle;
  float: right;
}

.close.bottom {
  right: 0;
}

.close.right {
  left: 0;
}


.show-more {
  cursor: pointer;
  color: orange;
  font-size: 12px;
}

.the-rest {
  display: none;
}

.view-text {
  display: inline;
}

.noDisplay {
  display: none;
}

.map-info {
  position: absolute;
  width: 150px;
  background-color: #fff;
  z-index: 1000;
  top: 0;
  right: 0;
}

.info-attr {
  margin: 0;
  margin-bottom: 2px;
  font-size: 14px;
}
.info-attr a {
  color: inherit;
  text-decoration: none;
}

.visible {
  visibility: visible;
}

.source-attribution {
  margin-top: -15px;
}
.source-attribution a {
  color: inherit;
  text-decoration: none;
}


.expand {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
  z-index: 99999;
  color: white;
  width: auto;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}
.expand-toggle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #FF5335;
  position: absolute;
  bottom: 0;
  z-index: 2;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.expand-toggle:hover {
  background-color: #e82200;
}
.expand-toggle.expanded {
  background-color: #35e1ff;
}
.expand-toggle.expanded:hover {
  background-color: #00c5e8;
}

.expand-menu-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}

.expand-menu {
    margin-bottom: 55px;
    z-index: 1;
    -webkit-animation-duration: 0.65s;
    -moz-animation-duration: 0.65s;
    animation-duration: 0.65s;
}
.expand-menu-button {
    height: 50px;
    width: 50px;
    border-radius: 35px;
    background-color: #3E92A3;
    margin-bottom: 5px;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.expand-menu-button:hover {
  background-color: #3e81a3;
}
.open {
    visibility: visible !important;
}
.closeMenu {
    visibility: visible !important;
}

.preload * {
  visibility:hidden !important;
}

.location-stats {
  font-size: 11px;
  text-align: right;
  padding-top: 15px;
  padding-right: 25px;
}
.inline {
  display: inline;
  margin-right: 8px;
}
.flex-center-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
}
.location-stat .fa {
  position: absolute;
  color: #444;
  z-index: -1;
  font-size: 90px;
}
.location-stat {
  display: inline-block;
}
.coordinates > i {
  margin-left: 65px;
}
.elevations {
  line-height: 0;
  font-weight: 200;
  margin-left: 16px;
}
.coords {
  line-height: 0;
  font-weight: 200;
  letter-spacing: 1px;
}

@media(max-width: 460px) {
  .menu-header {
    font-size: 1.5em;
  }

  .menu-header > img {
    height: 23px;
  }
}

@media(max-width: 400px) {
  .leaflet-control-zoom {
    display: none;
  }

  .layer {
    font-size: 16px;
  }
}

@media(max-width: 380px) {
  .menu-header > img {
    display: none;
  }

  .menu-header > .title {
    padding-left: 0;
  }
}
